<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("partials/nav") %>
    <div class="home-container">
     <h1>Welcome to the ATP Champion Tracker!</h1>

  <p>An App for tracking ATP champions</p>

  <h2>How to Use</h2>
  <ul>
    <li>Sign up or log (looks like you got that part!)</li>
    <li>Navigate to “All Champions” to see all of the current entries</li>
    <li>Click “New Entry” to add a tournament result</li>
    <li>Use “Edit” or “Delete” to modify your champion entries</li>
  </ul>

  <h2>Tech Stack</h2>
  <ul>
  <li>Node.js, Express, MongoDB, EJS, HTML/CSS</li>
  </ul>
</div>

</body>
</html>